ul {
	display: flex;
	list-style: none;
	gap: 2em;
}

a {
	text-decoration: none;
	opacity: .7;
	transition: .3s;

	&:hover {
		opacity: .9;
	}
}

.router-link-exact-active {
	opacity: 1 !important;
	text-decoration: underline;
}
